* {
    margin: 0;
    padding: 0;
}
/* Colours
fabc05 -> yellow
1b72e8 -> blue
164ea6 -> dark blue
ea4335 -> red
0d642d -> dark green
33a852 -> green
*/
body {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: blanchedalmond;
    transition: 0.5s;
}
h1 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}
.first-row {
    grid-row: 1 / 2;
}
.second-row {
    grid-row: 2 / 3;
}
.dark-green {
    color: #0d642d;
}
.dark-blue {
    color: #164ea6;
}
.white {
    color: #eeeeee;
}
.red, h2 {
    color: red;
}
.atm, button {
    font-family: 'Rampart One', cursive;
    border-radius: 5px;
}
.atm {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    width: 90%;
    background-color: #fabc05;
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
button {
    padding: 0.5rem 1rem;
    border: none;
    margin: 0.5rem;
    color: white;
    transition: 0.5s;
}
button:hover {
    font-size: 1.5rem;
    padding: 0.74rem 1.25rem;
    transition: 0.25s;
}
input {
    width: 50%;
    height: 33%;
}
.withdraw-btn {
    background-color: #164ea6;
}
.withdraw-btn:hover {
    background-color: #1b72e8;
}
.deposit-btn {
    background-color: #0d642d;
}
.deposit-btn:hover {
    background-color: #33a852;
}
